
body{
  width: 850px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

/* Header della pagina */
header{
  background-color: rgb(78, 160, 255);
  height: 70px;
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-size: 15%;
}

.logo{
  width: 20%;
  height: 10%;
  position: relative;
  
}

.logo img{
  position: absolute;
  top: 30px;
  left: 0px;
}



.riferimento{
  color: rgb(125, 125, 125);
}

.nome{
  color: rgb(76, 185, 233);
}

.didascalia{
  font-size: 12px;
}

.diapositive{
  height: 230px;
}

.evidenziato{
  background-color: yellow;
}


/* .testatabella{
  
  color: white;
} */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  width: 120px;
}

.testa{
  background-color: rgb(32, 169, 229);
  color: white;
  font-size: 12px;
  height: 14px;
}

.riga{
  background-color: rgb(177, 229, 242);

}
